[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "*"
pyyaml = "*"
pypdf2 = "*"
tiktoken = "*"
pandas = "*"
transformers = "*"
openpyxl = "*"
pinecone-client = "*"
openai = "==0.28.0"

[dev-packages]

[requires]
python_version = "3.10.13"
